body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 8px 24px;
    border: 2px solid #f9faf8;
    border-radius: 8px;
    text-align: center;
}

.hero {
    background-color: #1f2937;
}

.hero h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero p, a {
    font-size: 18px;
    color: #e5e7eb;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.information h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1f2937;
}

.call-to-action {
    background-color: #3882f6;
    color: #f9faf8;
}

.footer {
    background-color: #1f2937;
    color: #e5e7eb;
    text-align: center;
}