body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.links {
    list-style-type: none;
    display: flex;
    gap: 24px;
}

a {
    text-decoration: none;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 8px 24px;
    border: 2px solid #f9faf8;
    border-radius: 8px;
    text-align: center;
}

.hero {
    background-color: #1f2937;
}

.hero h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero p, a {
    font-size: 18px;
    color: #e5e7eb;
}

.header {
    display: flex;
    padding: 8px 100px;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
    align-self: center;
}

.hero-container {
    display: flex;
    gap: 32px;
    padding: 100px;
}

.img-placeholder {
    max-width: fit-content;
    padding: 100px 150px;
    background-color: #6D747D;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.information {
    padding-bottom: 100px;
}

.information h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
    padding: 25px 0px;
}

.info-container {
    display: flex;
    justify-content: center;
}

.info-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 200px;
}

.placeholder {
    width: 125px;
    height: 125px;
    border: 3px solid #3882f6;
    border-radius: 16px;
}

.quote {
    background-color: #e5e7eb;
    padding: 64px 0px;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote p {
    max-width: 750px;
}

.thor {
    font-size: 24px;
    font-weight: 900;
    font-style: normal;
}

.call-to-action {
    max-width: fit-content;
    background-color: #3882f6;
    color: #f9faf8;
    padding: 8px 120px;
    margin: 75px;
    border-radius: 8px;
    align-self: center;
    display: flex;
    gap: 64px;
}

.action-button {
    align-self: center;
    margin-top: 24px;
    flex-shrink: 0;
}

.footer {
    background-color: #1f2937;
    color: #e5e7eb;
    text-align: center;
    padding: 8px;
}